# Entorno virtual
venv/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Django
*.log
db.sqlite3
media/

# VS Code
.vscode/

# Docker
*.env.local# Variables de entorno
.env

# Python cache
__pycache__/
*.py[cod]

# Entorno virtual
.venv/
venv/